*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
body{
    background-color: #ffecec;
      color: #2b2b2b;
}

.navbar {
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 40px;
      border-bottom: 1px solid #f2f2f2;
      flex-wrap: wrap;
    }

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 60px;
    height: 60px;
}

.logo span {
    color: #ff5e78;
    font-weight: bold;
    font-size: 20px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links a {
      text-decoration: none;
      color: black;
      font-weight: 500;
    }

.center{
    padding:20px;
    display:flex;
    justify-content: center;
        
}

.product_cards{
    display: flex;
    align-items: center;
    background-color: #fff;
    margin: 20px auto;
    padding: 15px;
    border-radius: 15px;
    gap: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    max-width: 900px;
}
.buttons{
    min-width: 15%;
    gap:20px;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.buttons button:hover {
  background-color: #f0bbc2;
}

    
